<h2>
  Welcome to the Sovren SaaS Utility! We want to help you get up and running as quickly as possible. The following steps will
  walk you through the services and settings your account has access to so you can configure them to best meet your needs.
</h2>
<br />
<br />
<h2>
  To get started, please select the type of document you want to batch parse.
</h2>
<br />
<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a (click)="parseResumes()" class="card clickable">
        <div class="card-block">
            <div class="card-header">
                Resumes
            </div>
        </div>
    </a>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a (click)="parseJobOrders()" class="card clickable">
        <div class="card-block">
            <div class="card-header">
                Jobs
            </div>
        </div>
    </a>
</div>
<br />
<br />
<h3>
  Please refer to our documentation <a href="javascript:void(0)" (click)="openExternal('https://docs.sovren.com/')">here</a> if you have any questions.
</h3>


