<h1 class="white-text center">
    Welcome to the Sovren SaaS Utility
</h1>

<div class="row">
    <div class="col-lg-12">
        <p class="white-text">Please select a function below to get started.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <a (click)="parseResumes()" class="card clickable">
            <div class="card-block">
                <h3 class="card-title">Bulk Parse Resumes</h3>
                <p class="card-text">
                    Parse a set of resume documents using Sovren Parsing Service.
                </p>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <a (click)="parseJobOrders()" class="card clickable">
            <div class="card-block">
                <h3 class="card-title">Bulk Parse Jobs</h3>
                <p class="card-text">
                    Parse a set of job order documents using Sovren Parsing Service.
                </p>
            </div>
        </a>
    </div>
</div>