<div class="row">
  <div class="col-lg-12">
    <div>
      <form #settingsForm="ngForm" class="compact" [hidden]="currentStep == 8">
        <section *ngIf="!configuring" class="form-block">

          <div name="STEP1_DIRECTORYSELECTION" [hidden]="currentStep != 1">
            <h2>
              <span *ngIf="aimEnabled">As an AI Matching customer, each</span>
              <span *ngIf="!aimEnabled">Each</span> document parsed will cost
              <span *ngIf="costPerParse > 1" class="sovren-orange">{{costPerParse}} credits</span>
              <span *ngIf="costPerParse == 1" class="sovren-orange">{{costPerParse}} credit</span>. You currently have about
              <span class="sovren-orange">{{account.CreditsRemaining | number: '1.0-0'}} credits
              </span> available.
            </h2>
            <br/>
            <br/>

            <h2 class="center">
              First, we want to let you know how many total credits this batch transaction will cost. Please select the directory that
              contains the
              <span *ngIf="documentType == 0">resumes</span>
              <span *ngIf="documentType == 1">jobs</span> to be parsed. Any file contained in a subdirectory will also be parsed.
            </h2>
            <br />
            <div class="form-group">
              <input id="sourcePath" type="text" name="sourcePath" [(ngModel)]="settings.inputDirectory" placeholder="Enter source path"
                required size="100" />
              <button class="btn btn-outline btn-sm" (click)="browseDirectory(setSource)">Browse...</button>
            </div>
            <br/>
            <br/>


            <button type="button" class="btn btn-primary" [routerLink]="['../Home']">Back</button>
            <button type="button" (click)="onInputDirectorySelected()" [clrLoading]="loading" class="btn btn-primary" [disabled]="!settings.inputDirectory">Next</button>
            <span *ngIf="loading">Calculating... This could take a while...</span>

            <div *ngIf="errorMessage != null" class="alert alert-danger">
              <div class="alert-items">
                <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                  </div>
                  <span class="alert-text">{{errorMessage}}</span>
                </div>
              </div>
            </div>
          </div>

          <div name="STEP2_INDEX" [hidden]="currentStep !=2">
            <h2>
              Thank you! The estimated cost of this batch transaction of
              <span class="sovren-orange">{{this.totalFiles.toLocaleString()}} documents</span> is
              <span class="sovren-orange">{{(this.totalFiles * this.costPerParse).toLocaleString()}} credits</span>.
            </h2>
            <div *ngIf="aimEnabled">
              <br />
              <br />
              <h2>
                AI Matching Indexing
              </h2>
              <br />
              <br />
              <h2>
                As an AI Matching customer, this application will automatically index your documents, enabling you to search and match against
                them later. This is the best way to be able to take full advantage of our powerful algorithms. Indexes are
                collections of documents (either jobs or resumes) and can be used as logical separations for your documents.</h2>
              <br />
              <br />
              <h2>
                If you've already created an index, you can select it in the dropdown or you can create a new one using the button below.
              </h2>
              <br />
              <div class="form-group">
                <div *ngIf="indexes.length > 0" class="select wide-select">
                  <select id="index" name="index" [(ngModel)]="settings.index">
                    <option *ngFor="let item of indexes" [value]="item.Name">{{item.Name}}</option>
                  </select>
                </div>
                <button type="button" class="btn btn-outline btn-sm" (click)="showIndexModal = true">Create new Index</button>
              </div>
            </div>
            <br/>
            <br/>
            <button type="button" class="btn btn-primary" (click)="currentStep = 1">Back</button>
            <button type="button" (click)="currentStep = 3" [clrLoading]="loading" class="btn btn-primary" [disabled]="aimEnabled && !settings.index">Next</button>
          </div>


          <div name="STEP3_GEOCODING" [hidden]="currentStep != 3">
            <h2>
              Optional geocoing if needed
            </h2>
            <br />
            <br />
            <h2>
              Our Parser has the ability to geocode a
              <span *ngIf="documentType == 0">resume</span>
              <span *ngIf="documentType == 1">job</span> based on the address found on the document using Google or Bing; however, you must supply your own
              provider key. Geocoding can allow you to perform radius searching. If you wish to skip this step, simply select
              'None' in the dropdown below.
            </h2>
            <br />
            <div class="form-group">
              <div class="select wide-select">
                <select id="geoCodeProvider" name="geoCodeProvider" [(ngModel)]="settings.geoCodeProvider">
                  <option *ngFor="let item of geoCodeProviders | keys" [value]="item.key">{{item.value}}</option>
                </select>
              </div>
            </div>

            <h2 *ngIf="settings.geoCodeProvider > 0">
              Please enter a provider key.
            </h2>
            <br *ngIf="settings.geoCodeProvider > 0" />
            <div *ngIf="settings.geoCodeProvider > 0" class="form-group">
              <input type="text" id="geoCodeKey" placeholder="Required" name="geoCodeKey" [(ngModel)]="settings.geoCodeKey" #geoCodeKeyInput="ngModel"
                required size="100">
            </div>
            <br/>
            <br/>
            <button type="button" class="btn btn-primary" (click)="currentStep = 2">Back</button>
            <button type="button" (click)="currentStep = skills.length > 0 ? 4 : normalizations.length > 0 ? 5 : 6" [clrLoading]="loading"
              class="btn btn-primary" [disabled]="settings.geoCodeProvider > 0 && !settings.geoCodeKey">Next</button>
          </div>

          <div name="STEP4_SKILLS" *ngIf="skills.length > 0" [hidden]="currentStep != 4">
            <h2>
              Skills
            </h2>
            <br />
            <br />
            <h2>
              If you want to use any of your custom skills lists, select them below. If no list is selected, our builtin skills
              list will be used. The parser automatically detects language and looks for a corresponding skills list in that
              language, if no match is found this list is ignored. More details can be found
              <a href="javascript:void(0)" (click)="openExternal('https://docs.sovren.com/Documentation/ResumeParser#skills-terminology')">here.</a>
            </h2>
            <br />
            <h2>We strongly recommend that in addition to using your custom skills lists, you also use our built in list.</h2>
              <clr-checkbox [clrInline]="true" name="includeBuiltinSkills" [(ngModel)]="settings.includeBuiltinSkills">
                  Yes, also use built in skills list
              </clr-checkbox>
              <br />
              <br />
            <div class="form-group">
              <div class="select multiple wide-select">
                <select id="skills" name="skills" [(ngModel)]="settings.skills" multiple>
                  <option *ngFor="let item of skills" [value]="item">{{item}}</option>
                </select>
              </div>
            </div>
            <br />
            <br />
            <button type="button" class="btn btn-primary" (click)="currentStep = 3">Back</button>
            <button type="button" (click)="currentStep = documentType == 0 && normalizations.length > 0 ? 5 : 6" [clrLoading]="loading"
              class="btn btn-primary">Next</button>
          </div>

          <div name="STEP5_NORMALIZATIONS" *ngIf="normalizations.length > 0" [hidden]="currentStep != 5">
            <h2>Normalizations</h2>
            <br />
            <br />
            <h2>If you want to use one of your custom normalization data files, select it below. If no list is selected, our
              builtin normalizations will be used (English only). When using custom normalization files the language
              to be used is determined by the Parser (the default fall back language is English if the Parser cannot find
              a match). More details can be found
              <a href="javascript:void(0)" (click)="openExternal('https://docs.sovren.com/Documentation/ResumeParser#normalizer-files')">here.</a>
            </h2>
            <br />
            <div class="form-group">
              <div class="select wide-select">
                <select id="normalizations" name="normalizations" [(ngModel)]="settings.normalizations">
                  <option [value]=""></option>
                  <option *ngFor="let item of normalizations" [value]="item">{{item}}</option>
                </select>
              </div>
            </div>
            <br/>
            <br/>
            <button type="button" class="btn btn-primary" (click)="currentStep = skills.length > 0 ? 4 : 3">Back</button>
            <button type="button" (click)="currentStep = 6" [clrLoading]="loading" class="btn btn-primary">Next</button>
          </div>

          <div name="STEP6_CONFIGURATION" [hidden]="currentStep != 6">
            <h2>Configuration</h2>
            <br />
            <br />
            <div *ngIf="documentType == 0">
              <h2>The Parser is highly configurable and by default is configured to meet most users' needs. If you want to use a custom configuration, you can enter it here. If this is not
                specified, the default parser configuration will be used. For more information regarding the parser configuration
                string, the individual options, and assistance generating one, refer to the
                <a href="javascript:void(0)" (click)="openExternal('https://docs.sovren.com/Documentation/ResumeParser#configuration-basics-overview')">Parser Configuration Documentation</a>.
              </h2>
              <br />
              <div class="form-group">
                <textarea type="textarea" id="configurationString" placeholder="Optional" name="configurationString" [(ngModel)]="settings.configurationString"
                  size="100" rows="5"></textarea>
              </div>
            </div>

            <div *ngIf="documentType == 1">
              <h2>The Parser is highly configurable and by default is configured to meet most users' needs. <span style="color:#F26522">We strongly recommend that you do not change</span>
                any of the options below.</h2>
              <br />
              <br />
              <h2>Optionally enter a
                <a href="javascript:void(0)" (click)="openExternal('https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements')">2-letter ISO 3166 code</a> (or comma-delimited list of such codes) indicating the country to be assumed in
                cases where the location cannot be automatically detected. If multiple codes are specified, the first one
                is given the highest priority. </h2>
              <br />
              <div class="form-group">
                <input type="text" id="countryCode" placeholder="Optional" name="countryCode" [(ngModel)]="settings.countryCode" size="100">
              </div>
              <!-- <br />
              <br />
              <h2>Optionally enter an
                <a href="javascript:void(0)" (click)="openExternal('https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes')">ISO 639-1 two letter language code</a> indicating the language to be assumed in cases where the language
                cannot be automatically detected.</h2>
              <br />
              <div class="form-group">
                <input type="text" id="language" placeholder="Optional" name="language" [(ngModel)]="settings.language" size="100">
              </div> 
              <br />
              <br />
              <h2>Optionally specify a known type to enable special processing. This tells the parser to expect a certain format
                and is only used in very specific situations.</h2>
              <br />
              <div class="form-group">
                <div class="select wide-select">
                  <select id="knownType" name="knownType" [(ngModel)]="settings.knownType">
                    <option [value]=""></option>
                    <option *ngFor="let item of knownTypes | keys" [value]="item.value">{{item.value}}</option>
                  </select>
                </div>
              </div> -->
              <br />
              <br />
              <h2>Recruiting terms in skills and job titles are ignored by default because these terms often appear in job orders
                that are unrelated to recruiting. If the job orders to be parsed are primarily for recruiting or human resources positions, then
                check the box below.
              </h2>
              <div class="form-group">
                <clr-checkbox [clrInline]="true" name="includeRecruitingTerms" [(ngModel)]="settings.includeRecruitingTerms"></clr-checkbox>
              </div>
              <br />
              <br />
              <h2>The parser defaults to extracting data from only the text that precedes the place in job orders where they
                transition from describing the job itself to describing the company, hiring policies, background checks,
                benefits, etc. This division of text normally works well, but in some job orders it can occur in the wrong
                place. Check the box below to allow the parser to extract data from all of the text.</h2>
              <div class="form-group">
                <clr-checkbox [clrInline]="true" name="includeSupplementalText" [(ngModel)]="settings.includeSupplementalText"></clr-checkbox>
              </div>
              <!-- <br />
              <br />
              <h2>The parser defaults to returning full job titles. Check the box below to shorten job titles by excluding trailing
                phrases that do not include job words, so that "Vice President" would be returned instead of "Vice President,
                Information Systems".
              </h2>
              <div class="form-group">
                <clr-checkbox [clrInline]="true" name="preferShorterJobTitles" [(ngModel)]="settings.preferShorterJobTitles"></clr-checkbox>
              </div> -->
            </div>

            <br/>
            <br/>
            <button type="button" class="btn btn-primary" (click)="currentStep = documentType == 0 && normalizations.length > 0 ? 5 : skills.length > 0 ? 4 : 3">Back</button>
            <button type="button" (click)="currentStep = 7" [clrLoading]="loading" class="btn btn-primary">Next</button>
          </div>


          <div name="STEP7_OUTPUT" [hidden]="currentStep != 7">
            <h2>Thank you!
              <span class="sovren-orange"> We are almost ready to begin parsing!</span>
            </h2>
            <h2>
              Select a local directory where you want us to save the parsed documents. Logs will be saved there too. If your source directory
              contains any subdirectories, we will keep the existing structure.</h2>
            <br />
            <div class="form-group">
              <input id="outputPath" type="text" name="outputPath" [(ngModel)]="settings.outputDirectory" placeholder="Enter output path"
                required size="100" />
              <button class="btn btn-outline btn-sm" (click)="browseDirectory(setOutput)">Browse...</button>
            </div>

            <h2>Our parser can return results in JSON or XML format. Please select the format you want to use below.</h2>
            <div class="form-group">
              <div class="radio-inline">
                <input type="radio" [(ngModel)]="settings.outputFormat" [value]="outputFormats.JSON" name="json" id="json">
                <label for="json">JSON</label>
              </div>
              <div class="radio-inline">
                <input type="radio" [(ngModel)]="settings.outputFormat" [value]="outputFormats.XML" name="xml" id="xml" checked>
                <label for="xml">XML</label>
              </div>
            </div>

            <h2>Optionally, our parser can also convert the original file into the formats below. Selecting any of these will
              make a new folder in the directory chosen above to save the converted documents. Note that this may slow down
              parsing times and will consume much more disk space on your machine.</h2>
            <div class="form-group">
              <clr-checkbox [clrInline]="true" name="html" [(ngModel)]="settings.outputHtml">
                HTML
              </clr-checkbox>
              <clr-checkbox [clrInline]="true" name="rtf" [(ngModel)]="settings.outputRtf">
                RTF
              </clr-checkbox>
              <clr-checkbox [clrInline]="true" name="pdf" [(ngModel)]="settings.outputPdf">
                PDF
              </clr-checkbox>
            </div>

            <br/>
            <br/>

            <button type="button" class="btn btn-primary" (click)="currentStep = 6">Back</button>
            <button type="button" (click)="checkOutputDirectory()" [clrLoading]="loading" class="btn btn-primary" [disabled]="!settings.outputDirectory">Next</button>

            <div *ngIf="errorMessage != null" class="alert alert-danger">
              <div class="alert-items">
                <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                  </div>
                  <span class="alert-text">{{errorMessage}}</span>
                </div>
              </div>
            </div>

          </div>
        </section>

      </form>

      <form #summaryForm="ngForm" (ngSubmit)="onStartParsing()" [hidden]="currentStep != 8">
        <h2>
          Below is a summary of all the options you have selected. Please review and
          <span class="sovren-orange inline">when you are ready to begin parsing, click the Parse button below.</span>
        </h2>
        <br />
        <div>
          <strong>Source Path: </strong>
          <label>{{settings.inputDirectory}}</label>
        </div>
        <div>
          <strong>Output Path: </strong>
          <label>{{settings.outputDirectory}}</label>
        </div>
        <div *ngIf="settings.index">
          <strong>AI Matching Index: </strong>
          <label>{{settings.index}}</label>
        </div>
        <div *ngIf="settings.geoCodeProvider > 0">
          <strong>Geocode Provider: </strong>
          <label>{{geoCodeProviders[settings.geoCodeProvider]}}</label>
        </div>
        <div *ngIf="settings.geoCodeKey && settings.geoCodeProvider > 0">
          <strong>Geocode Key: </strong>
          <label>{{settings.geoCodeKey}}</label>
        </div>
        <div *ngIf="settings.normalizations">
          <strong>Normalizations: </strong>
          <label>{{settings.normalizations}}</label>
        </div>
        <div *ngIf="skills.length > 0">
          <strong>Skills: </strong>
          <label *ngIf="settings.skills">{{settings.skills}}</label>
          <label *ngIf="settings.skills && settings.skills.length > 0 && settings.includeBuiltinSkills">,builtin</label>
          <label *ngIf="!settings.skills || settings.skills.length == 0">builtin</label>
        </div>
        <div *ngIf="settings.configurationString">
          <strong>Configuration String: </strong>
          <label>{{settings.configurationString}}</label>
        </div>
        <div *ngIf="settings.countryCode">
          <strong>Country Code: </strong>
          <label>{{settings.countryCode}}</label>
        </div>
        <div *ngIf="settings.language">
          <strong>Language: </strong>
          <label>{{settings.language}}</label>
        </div>
        <div *ngIf="settings.knownType">
          <strong>Known Type: </strong>
          <label>{{settings.knownType}}</label>
        </div>
        <div *ngIf="settings.includeRecruitingTerms">
          <strong>Include Recruiting Terms: </strong>
          <label>{{settings.includeRecruitingTerms}}</label>
        </div>
        <div *ngIf="settings.includeSupplementalText">
          <strong>Include Supplemental Text: </strong>
          <label>{{settings.includeSupplementalText}}</label>
        </div>
        <div *ngIf="settings.preferShorterJobTitles">
          <strong>Prefer Shorter Job Titles: </strong>
          <label>{{settings.preferShorterJobTitles}}</label>
        </div>
        <div>
            <strong>Parse Result Format: </strong>
            <label>{{settings.outputFormat == outputFormats.JSON ? 'JSON' : 'XML'}}</label>
          </div>
        <div *ngIf="settings.outputHtml || settings.outputRtf || settings.outputPdf">
          <strong>Convert Original Files To: </strong>
          <label *ngIf="settings.outputHtml">Html </label>
          <label *ngIf="settings.outputRtf">Rtf </label>
          <label *ngIf="settings.outputPdf">Pdf</label>
        </div>
        <br />
        <br />
        <div>
          <strong>Total Files to Parse: </strong>
          <label>{{totalFiles.toLocaleString()}}</label>
        </div>
        <div>
          <strong>Estimated Cost: </strong>
          <label>{{(totalFiles * costPerParse).toLocaleString()}} credits</label>
        </div>
        <br />
        <div>
          <strong>Current Credits: </strong>
          <label>{{account.CreditsRemaining | number: '1.0-0'}}</label>
        </div>
        <br />
        <button type="button" class="btn btn-primary" (click)="backToSettings()">Back</button>
        <button type="submit" class="btn btn-primary" *ngIf="summaryResults.numParsed == 0 && !parsing" [disabled]="summaryForm.form.invalid || (totalFiles * costPerParse) > account.CreditsRemaining">Parse!</button>
        <button type="submit" class="btn btn-info" *ngIf="summaryResults.numParsed > 0 && !parsing && summaryResults.percentComplete != 100" [disabled]="(totalFiles * costPerParse) > account.CreditsRemaining">Restart Parsing</button>
        <button type="button" *ngIf="summaryResults.percentComplete == 100" class="btn btn-primary" (click)="electronSvc.remote.getCurrentWindow().close()">Exit</button>
        <button type="button" *ngIf="parsing && !cancellationToken.isCancelled()" class="btn btn-info" (click)="cancellationToken.cancel()">Stop!</button>
        <span *ngIf="cancellationToken.isCancelled() && summaryResults.percentComplete != 100 && summaryResults.numParsed > 0">Parsing stopped!</span>
        <h4 style="display:inline" *ngIf="summaryResults.percentComplete == 100">Parsing complete!</h4>
        <br />
        <br />
        <div *ngIf="parsing || summaryResults.numParsed > 0" class="progress flash labeled">
          <progress max="100" value="{{summaryResults.percentComplete}}" [attr.data-displayval]="summaryResults.percentComplete + '%'"></progress>
          <span>{{summaryResults.percentComplete}}%</span>
        </div>
        <br />
        <div *ngIf="parsing || summaryResults.numParsed > 0">
          <span *ngIf="summaryResults.numParsed > 0">Elapsed Time: {{summaryResults.elapsedSeconds | minutesSeconds}} ({{(summaryResults.numParsed / summaryResults.elapsedSeconds)
            | number : '1.0-0'}} documents/sec)
          </span>
          <br/>
          <br />
          <span class="block">Total Parsed Successfully: {{summaryResults.numParsedSuccessfully.toLocaleString()}}</span>
          <span *ngIf="settings.index" class="block">Total Indexed Successfully: {{summaryResults.numIndexed.toLocaleString()}}</span>
          <span class="block">Total Parsing Errors: {{summaryResults.numParseErrors.toLocaleString()}}</span>
          <span class="block" *ngIf="summaryResults.numGeocodingErrors > 0">Total Geocoding Errors: {{summaryResults.numGeocodingErrors.toLocaleString()}}</span>
          <span class="block" *ngIf="summaryResults.numConversionErrors > 0">Total Conversion Errors: {{summaryResults.numConversionErrors.toLocaleString()}}</span>
          <span class="block" *ngIf="summaryResults.numIndexingErrors > 0">Total Indexing Errors: {{summaryResults.numIndexingErrors.toLocaleString()}}</span>
          <br />
          <span class="block" *ngIf="summaryResults.numIndexingErrors > 0 || summaryResults.numConversionErrors > 0 || summaryResults.numGeocodingErrors > 0 || summaryResults.numParseErrors > 0">
            *Check
            <a href="javascript:void(0)" (click)="electronSvc.shell.openItem(settings.outputDirectory + '/logs')">logs</a> to view errors</span>
        </div>
      </form>

    </div>
  </div>
</div>


<clr-modal [(clrModalOpen)]="showIndexModal" [clrModalSize]="'lg'">
  <h3 class="modal-title">Create Index</h3>
  <div class="modal-body">
    <form #indexForm="ngForm" class="compact" (ngSubmit)="saveIndex()">
      <div class="form-group no-margin">
        <label>Index Name</label>
        <label for="indexName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-right" [class.invalid]="indexInput.invalid && (indexInput.dirty || indexInput.touched)">
          <input type="text" id="indexName" required pattern="[a-zA-Z0-9_-]+" name="indexName" [(ngModel)]="indexToSave" size="30"
            #indexInput="ngModel">
          <span class="tooltip-content">
            Restricted to alphanumeric with dashes and underscores.
          </span>
        </label>
      </div>
      <div class="modal-footer">
        <button type="submit" [clrLoading]="indexSaving" class="btn btn-primary" [disabled]="indexForm.form.invalid">
          Save
        </button>
      </div>
    </form>
  </div>
</clr-modal>
