.underline {
    text-decoration: underline;
}

.block {
    display: block;
}

.modal-dialog .modal-content {
    background-color:#292929 !important;
}

.form-group:not(.no-margin) {
    padding-left:0rem !important;
}