<div class="main-container">
    <header class="header-2">
        <div class="branding">
            <a class="nav-link">
                <img class="logo" src="https://cdn.sovren.com/images/logos/mark-only.svg">
                <div class="separator">&nbsp;</div>
                <span class="title">Sovren Bulk Parser</span>
            </a>
        </div>
        <div class="header-actions">
            <a (click)="onMinimize()" class="nav-link nav-icon">
                <clr-icon shape="window-min" size="16"></clr-icon>
            </a>
            <a *ngIf="max" (click)="onRestore()" class="nav-link nav-icon">
                <clr-icon shape="window-restore" size="16"></clr-icon>
            </a>
            <a *ngIf="!max" (click)="onMax()" class="nav-link nav-icon">
                <clr-icon shape="window-max" size="16"></clr-icon>
            </a>
            <a (click)="onExit()" class="nav-link nav-icon">
                <clr-icon shape="window-close" size="16"></clr-icon>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="clr-footer">
        © 2018 Copyright Sovren Group, Inc. All rights reserved
    </div>
</div>